<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ title }}</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.15/dist/vue.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
	<script src="/dist/vue-social-sharing.min.js"></script>
</head>
<body>
	<header>
		<img src="/images/roku.svg" alt="Roku logo" width="90"><span>FlashBack</span>
		<nav>
			<ul>
				<li>Kids</li>
				<li><i class="fas fa-user-circle"></i></li>
				<li><i class="fas fa-cog"></i></li>
			</ul>
		</nav>
	</header>

	<main>
		{{{ body }}}
	</main>

	<footer>
		<p class="copy">
			&copy; 2018 The Awesome Company, Inc
		</p>
		<social-sharing url="https://vuejs.org/" inline-template>
		<div>
		<ul>
			<li>
				<network network="facebook"><i class="fab fa-facebook"></i></network>
			</li>
			<li>
				<a href="https://twitter.com/?lang=en"><i class="fab fa-twitter-square"></i></a>
			</li>
			<li>
				<a href="https://plus.google.com/discover"><i class="fab fa-google-plus-square"></i></a>
			</li>
			<li>
				<a href="https://www.instagram.com/?hl=en"><i class="fab fa-instagram"></i></a>
			</li>
		</ul>
		</div>
		</social-sharing>
	</footer>
  <script>
    var appData = {
      movies : {{{ data }}}
    }
  </script>
	{{#if mainpage}}
  	<script src="/js/main.js"></script>
	{{/if}}

	{{#if videopage}}
		<script src="/js/videoVM.js"></script>
	{{/if}}
</body>
</html>
